<div class="card entry my-2 h-100">
  <div class="card-header">
    <%= entry.category.name %>
  </div>
  <div class="card-body">
    <div class="card-text entry__description">
      <%= entry.description.html_safe %>
    </div>
  </div>
</div>
