<div class="card entry my-2 h-100">
  <div class="card-header">
    <%= category.name %>
  </div>
  <div class="card-body">
    <div class="card-text entry__description">
      <%= entry_description(remedy, category) %>
    </div>
  </div>
</div>
