@import "variables";
@import "~bootstrap/scss/bootstrap";
@import "trix";

nav {
  font-family: $headings-font-family;
}

.clickable:hover {
  background-color: gray("200");
}

.entry {
  .card-header {
    font-family: $headings-font-family;
    font-weight: bold;
  }

  .entry__description {
    p {
      margin: 0;
    }
  }
}

.font-sm {
  font-size: 0.8em;
}

.ql-container {
  font-family: $font-family-base;
  font-size: $font-size-base;
}
